#!/bin/bash

echo "==============================" >> {{backup_db_dir}}/log_backup_actualdata.txt
echo "==============================" >> {{backup_db_dir}}/log_backup_actualdata.txt
date >> {{backup_db_dir}}/log_backup_actualdata.txt
echo "==============================" >> {{backup_db_dir}}/log_backup_actualdata.txt
