#!/bin/bash

echo "==============================" >> {{backup_imagenode_dir}}/log_backup_actualdata.txt
echo "==============================" >> {{backup_imagenode_dir}}/log_backup_actualdata.txt
date >> {{backup_imagenode_dir}}/log_backup_actualdata.txt
echo "==============================" >> {{backup_imagenode_dir}}/log_backup_actualdata.txt
